<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwtpratice.jwttutorial.dao.IMemberDaoMapper">

    <insert id="insertMember" parameterType="com.jwtpratice.jwttutorial.entity.UserEntity">
        INSERT INTO
            user(email, m_password, nickname)
        VALUES
            (#{email},
            #{m_password},
            #{nickname}
             )
     </insert>

    <select id="isMember" parameterType="com.jwtpratice.jwttutorial.entity.UserEntity" resultType="com.jwtpratice.jwttutorial.entity.UserEntity">
        SELECT
            *
        FROM
            user
        WHERE
            email = #{email}
    </select>

    <insert id="insertRefToken" parameterType="com.jwtpratice.jwttutorial.entity.RefTokenEntity">
        INSERT INTO
            tokens(ref_token, t_reg_date)
        VALUES
            (
                #{ref_token},
                NOW()
            )
    </insert>




</mapper>